@import '../../styles/base.scss';

:local {
  .logos {
    display: flex;
    width: 100vw;
    background-color: $dark-grey--6;
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    .copyright {
      display: block;
    }
    .items {
      display: flex;
    }
  }
  .block {
    margin-right: 40px;
    display: block;
    width: 150px;

    &.skzl {
      width: 85px;
    }
  }
  .label {
    font-size: $font-size-s;
    min-height: 20px;
    display: block;
  }
  .logoWrapper {
    img {
      width: 100%;
    }
  }
}