:local {
  .tile {
    height: auto;
    width: 100%;
    background-color: white;
    padding: 20px 20px 33px 20px;

    &.light {
      background-color: black;
      color: white;
    }
    &.dark {
      color: black;
    }
  }
}