@import '../../styles/base.scss';
:local {
  .navbar {
    padding: 8px 6px;
    position: fixed;
    // border-radius: 10px;
    bottom: 30px;
    height: 40px;
    width: 280px;
    background-color: white;
    border-radius: 10px;
    @include box-shadow;
    z-index: 100;
    border: 1px solid rgb(235, 235, 235);
    left: 50%;
    margin-left: -150px; /* Negative half of width. */
    display: flex;
    align-items: center;
  }
  .divider {
    margin-left: 7px;
    width: 1px;
    height: 30px;
    background-color: $dark-grey--6;
  }
  .label {
    @include box-shadow;
    width: fit-content;
    transform: translateY(-10px);
    width: 200px;
  }
  .labelWrapper {
    position: absolute;
  }
  .iconWrapper {
    height: 30px;
    width: 30px;
    padding: 5px;
    border-radius: 10px;

    background-color: $dark-grey--7;

    margin: 0 3.5px;

    svg {
      width: 30px;
      height: 30px;
      opacity: .2;
      transition: $transition-fast;

      &:hover {
        opacity: .6;
      }
    }

    &.active {
      svg {
        opacity: 1;
      }
    }
  }
}