@import '../../styles/base.scss';
:local {
  .navbar {
    padding: 10px;
    position: fixed;
    border-radius: 10px;
    bottom: 30px;
    height: 60px;
    width: 320px;
    background-color: white;
    @include box-shadow;
    z-index: 100;
    border: 1px solid rgb(235, 235, 235);
    left: 50%;
    margin-left: -160px; /* Negative half of width. */
    display: flex;
    align-items: center;
  }

  .label {
    @include box-shadow;
    width: fit-content;
    transform: translateY(-10px);
    width: 200px;
  }

  .iconWrapper {
    height: 40px;
    width: 40px;

    svg {
      width: 30px;
      height: 30px;
    }
  }
}